body, html {
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Hind;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 960px;
    /*min-width: 50vw;*/
    /*min-height: 85vh;*/
    flex-wrap: wrap;
}

.column:first-child {
    flex: 0.8;
    margin-right: auto;
}

.column:nth-child(2) {
    align-items: right;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.column > * {
    margin: 10px;
    border: 1px solid #979797;
    border-radius: 6px;
}

.column:first-child > * {
    width: 400px;
}

.column:first-child > *:first-child {
    min-height: 200px;
    background: url("Knipsel.PNG");
    background-size: cover;
}

.column:first-child > *:nth-child(2) {
    margin-top: 25px;
    min-height: 450px;
    background: url("Knipsel-2.PNG");
    background-size: cover;
}

.column:nth-child(2) > *:first-child {
    width: 490px;
    min-height: 490px;
    align-self: flex-end;
}

.column:nth-child(2) > *:nth-child(2) {
    width: 490px;
    min-height: 173px;
    align-self: flex-end;
    border: none;
}

.to-do {
    display: flex;
    flex-direction: row;
}

.memo {
    flex: 1;
    background: url("Knipsel-3.PNG");
    background-size: cover;
}

.voice {
    flex: 2;
}

.voice p:first-child {
    text-align: right;
    color: #253C78;
    font-family: Hind;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
}

.voice p:nth-child(2), :nth-child(3) {

    color: rgba(0, 0, 0, 0.38);
    font-family: Hind;
    font-size: 14px;
    font-weight: 300;
    line-height: 23px;
    text-align: right;
}







/**************************************
 *
 * Begin calendar support
 *
 **************************************/


ul 
{
  list-style-type: none;
}

#monthtitle
{
  display:inline-block;
}

.calendar
{
  background: #ffffff;
  padding-bottom:16px;
  border-radius: 16px;
}

/* Month header */
.month 
{
  padding: 16px 16px;
  text-align: center;
  font-weight:700;
}

/* Month list */
.month ul
{
  margin: 0;
  padding: 0;
}

.month ul li 
{
  color: #7a909b;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Previous button inside month header */
.month .prev 
{
  float: left;
}
/* Next button */
.month .next 
{
  float: right;
}

/* Weekdays (Mon-Sun) */
.weekdays 
{
  margin: 0;
  padding: 0 0;
}

.weekdays li 
{
  display: inline-block;
  color: #7a909b;
  text-align: center;
  margin-bottom:8px;
}

/* Days (1-31) */
.weekdays, #days {
    padding: 0 0;
    padding-left: 16px;
}

.weekdays li, #days li 
{
  width: 13.6%;
}

#days li 
{
  border: 0.01250in solid #e8e8e8;
}

#days li 
{
  list-style-type: none;
  display: inline-block;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.previousmonth
{
  color: #dfdfdf;
}

.thismonth
{
  cursor:pointer;
  color: #b18bd8;
}

/* Highlight the "current" day */
.active 
{
  background: #b18bd8 !important;
  color: #ffffff !important;
}

.unselectable {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}



/**************************************
 *
 * End calendar support
 *
 **************************************/











@media (max-width: 1025px) {
    .wrapper {
        flex-direction: column;
    }

    .column {
        justify-content: center;
        align-items: center;
    }

    .column:first-child {
        margin-right: 0;
    }

    .column:nth-child(2) > *:first-child, :nth-child(2) {
    align-self: center;
    }

    .column > * {
        width:100%;
        min-width: 490px;
    }
}
